.filter-box .bd {
    padding: 12px 26px 12px;
    background: #fff;
    font-size: 14px;
    position: relative;
}


/* tag */
.dl-lst dd a {
    padding: 5px 7px 15px;
    height: 27px;
    line-height: 27px;
    color: #333;
    font-size: 14px;
}

.dl-lst dd a.on {
    font-weight: 700;
}




.sub-option-list {
    margin: 0px 0px 5px;
    padding: 6px 12px;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    line-height: 20px;
    float: left;
    clear: both;
    border-radius: 3px;
}

.dl-lst dt {
    float: left;
    line-height: 27px;
    font-size: 14px;
    margin-right: 6px;
    font-weight: 700;
}

.sub-option-list a {
    padding: 5px 7px 15px;
    height: 27px;
    color: #333;
    font-size: 12px;
}

.sub-option-list a.on {
    font-weight: 700;
}

.page-list,.pagination-info,.pagination {
    font-size: 13px;
}

.popover{
    max-width: 100% !important;
}


.pagination ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline;
}

.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li.active a {
  background-color: red;
  color: white;
}

.page-item.active .page-link {
  background-color: #D3D3D3;
  color: black;
  border: 1px solid #dee2e6;
}



@media (max-width: 1024px) 
  { 
    .float
    {
      float:right!important;
      height:400px!important;
    } 
  }