<!DOCTYPE html>

<html lang="en">

{% include 'pre_head.html' %}

<body  class="bg-light">

{% include 'header.html' %}

{% include 'qrcode.html' %}


        <div class="container mt-3">
            <div class="row justify-content-md-center">
                <div class="col-lg-12">
     
                    <div class="col-md-auto" style="float: center">
		                <br />
                        <p><b class="mr-1" style="font-size: 18px">静妮找房</b>的前身是<a class="text-muted" target="_blank" href="https://ryanrent.leanapp.cn">RyanRent</a>，旨在辅助您找寻合适的个人房源。</p>

                        <p>北漂不易，且行且珍惜。</p> 
                        <p>我们寻租时如果能同(靠谱)房东直接进行联系，不仅沟通更为有效，而且可以省去一笔可观的中介费用。</p> 
                        <p>但是目前网路上的房源信息十分混杂，即便存在一些直租平台，大量的虚假信息也是泛滥其中，这给我们寻租带来了很大的困难。</p>

                        <p><b>静妮找房</b>为此而生，其致力于网尽真实的个人房源，辅助您尽快找到适合自己的住所。</p> 

                        <p>静妮目前掌握的技能包括<b>信息采集</b>(数据主要来源于水木和豆瓣)和<b>中介识别</b>(beta版本)</p> 
                        <p>静妮后续会学习的技能包括：</p>
                        <ul>
                            <li>地图寻租</li>
		                    <li>微信查询推送</li>
                            <li>更加智能化的信息处理，以及个人房源发布</li>
                        </ul>
                        <p>如果静妮帮您找到了适合的住房，还望您能不惜吝啬，拿出小小的一笔费用以支持静妮小站的维护。</p>
                        <p>此厢有礼了 ^ ^</p>
                        
                    </div>                        
                </div>
            </div>
        </div>
    

    {% include 'thanks.html' %}
    {% include 'footer.html' %}

</body>
</html>
