<!DOCTYPE html>

<html lang="en">

<head>
	<title>静妮找房</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="RyanRent">
	
	<link rel="stylesheet" href="static/bootstrap.min.css">
	<script src="static/jquery-3.1.1.min.js"></script>
	<script src="static/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="static/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 

	<!-- boostrap table -->
	<link rel="stylesheet" href="static/bootstrap-table.min.css">
	<script src="static/bootstrap-table.min.js"></script>
	<script src="static/bootstrap-table-zh-CN.min.js"></script>

	<link rel="stylesheet" type="text/css" href="static/style.css">

</head>
<body>
    <header>
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
		  <div class="container">
		    <a class="navbar-brand" href="/"><img src="static/my.png" width="35" height="35" class="d-inline-block mr-sm-1" alt="" >静妮找房</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="/">首页 <span class="sr-only">(homepage)</span></a>
				</div>
				<ul class="navbar-nav ml-auto">
		            <li class="nav-item">
		                <a class="nav-item nav-link active" href="/about">关于</a>
		            </li>
		        </ul>
			</div>

		  </div>
		</nav>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		    <div class="container">

		      <div class="form-inline">
			    <input id='searchipt' class="form-control mr-sm-2 mb-sm-0" type="search" placeholder="输入区域、地铁站或小区名开始找房" aria-label="Search" style="width:380px">
			    <button id="searchbtn" class="btn btn-success">搜索</button>
		      </div>

		    </div>
		</nav>
    </header>

  	<div class="bg-light">
	  	<div class="container bg-light">

		<!--	<nav class="border-top-0"> -->
			  <div class="nav nav-tabs bg-light" id="nav-tab" role="tablist">
				    <a class="nav-item mynav-item nav-link active text-dark method" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">区域找房</a>
				    <a class="nav-item mynav-item nav-link text-dark method" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">地铁找房</a>

			  </div>
		</div>
	</div>

	<script type="text/javascript" src="static/function.js">

	</script>



	<div class="container">
			<div class="tab-content border-right border-left" id="nav-tabContent">
				<div class="tab-pane show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
				    <div class="card-body" style="padding:1.25rem 1.25rem 0px;">
				        <div class="bd" id="filter-options">
				            <dl class="dl-lst clear" style="margin-bottom: 0rem;">
				                <dt>区域：</dt>
				                <dd data-index="0">
				                    <div class="option-list area">
				                        <a href="#" class="hide all on">不限</a>
				                        <a href="#">东城</a>
				                        <a href="#">西城</a>
				                        <a href="#">朝阳</a>
				                        <a href="#">海淀</a>
				                        <a href="#">丰台</a>
				                        <a href="#">石景山</a>
				                        <a href="#">通州</a>
				                        <a href="#">昌平</a>
				                        <a href="#">大兴</a>
				                        <a href="#">亦庄开发区</a>
				                        <a href="#">顺义</a>
				                        <a href="#">房山</a>
				                        <a href="#">门头沟</a>
				                    </div>
				                </dd>
				            </dl>
				        </div>
				    </div>
				</div>

				<div class="tab-pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
					<div class="card-body" style="padding:1.25rem 1.25rem 0px;">
					    <div class="bd" id="filter-options">
					        <dl class="dl-lst clear" style="margin-bottom: 0rem;">
					        	<dt>地铁：</dt>
					            <dd data-index="1">
					                <div class="option-list subway">
										<a href="#" class="hide all on">不限</a>
										<a href="#">1号线</a>
										<a href="#">2号线</a>
										<a href="#">4号线</a>
										<a href="#">5号线</a>
										<a href="#">6号线</a>
										<a href="#">7号线</a>
										<a href="#">8号线</a>
										<a href="#">9号线</a>
										<a href="#">10号线</a>
										<a href="#">13号线</a>
										<a href="#">14号线(东段)</a>
										<a href="#">14号线(西段)</a>
										<a href="#">15号线</a>
										<a href="#">16号线</a>
										<a href="#">八通线</a>
										<a href="#">亦庄线</a>
										<a href="#">昌平线</a>
										<a href="#">房山线</a>
										<a href="#">机场线</a>
										<a href="#">燕房线</a>
										<a href="#">S1线</a>
										<a href="#">西郊线</a>
					                </div>
					            </dd>
					        </dl>
					    </div>
					</div>
				</div>


				<div class="card-body border-bottom" style="margin-bottom: 10px; padding:0px 1.25rem 0.25rem;">
		  			<div class="bd" id="filter-options">
							<div class="sub-option-list" id="line-sub-list" style="display: none; width:100%">
		                        
		               		</div>

			            <dl class="dl-lst clear">
			            	<dt>来源：</dt>
			                <dd data-index="0">
			                    <div class="option-list tag">
			                        <a href="#" class="all on">不限</a>
			                        <a href="#">水木</a>
			                        <a href="#">豆瓣</a>
			                    </div>
			                </dd>

			                <dt>方式：</dt>
			                <dd data-index="0">
			                    <div class="option-list zffs">
			                        <a href="#" class="all on">不限</a>
			                        <a href="#">求租</a>
			                        <a href="#">整租</a>
			                    </div>
			                </dd>

			                <dt>居室：</dt>
			                <dd data-index="0">
			                    <div class="option-list jushi">
			                        <a href="#" class="all on">不限</a>
			                        <a href="#">1居</a>
			                        <a href="#">2居</a>
			                        <a href="#">3居</a>
			                    </div>
			                </dd>

			                <dt class="text-white bg-success px-1">净化模式</dt>
			                <dd data-index="0">
			                    <div class="option-list filter">
			                        <a href="#" class="all on">关闭</a>
			                        <a href="#">开启</a>
			                    </div>
			                </dd>

			            </dl>
			        </div>
			    </div>
			</div>

        <div style="width: 100%; margin: 0 auto">
            <table id="table" style="font-size:15px;"></table>
        </div>

	</div>  <!-- contrainer -->


	<div class="container">
		<hr />
		<footer>
			<div style="width:100%">
				<span class="font-weight-light" style="float:left;font-size:15px">总:{{ sta.tip }}IP, {{ sta.tpv }} PV | 今:{{ sta.dip }}IP, {{ sta.dpv }}PV </span>
				<span class="font-weight-light" style="float:right;font-size:15px">&copy; Ryan 2016</span>
			</div>
		</footer>
	</div>
	<!-- /container -->


	<script type="text/javascript">

	   $(function () {
	        parameters = ttc()
	        update_table(parameters)
	    });

	</script>

</body>
</html>