<style>
        #r-result {
            width: 80%;
            background: white;
            position: absolute;
            top: 5%;
            left: 5%;
            z-index:6;
            height: 40px;
            line-height: 40px;
            border-radius: 4px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            display: none
        }
        #r-result input {
            border: none;
            height: 40px;
            background: none;
            outline: none;
            padding-left: 2%;
            width: 96%; }
    </style>


<div style="position: relative;">
    <div id="r-result">
        <input type="text" id="suggestId" placeholder="请输入地点"/>
    </div>
    <div id="map_show"></div>
</div>






<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=iBM9rbzTH2dMZW7MbYMYmFgb"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>


<script type="text/javascript" src="static/MarkerClusterer.js"></script>

<script>

    var mymap = null;
    $.ajax({
            url: '/xiaoquzuobiao',
            type: 'get',
            dataType: 'json',
            success: function(data) {
                var mapInclude = new AddMap();
                mymap = mapInclude.init("map_show",{lng:116.405706,lat:39.91582});
                
                var markers = [];
                for (var i = data['data'].length - 1; i >= 0; i--) {
                    var point = new BMap.Point(data['data'][i][2], data['data'][i][1]);
                    var marker = new BMap.Marker(point); 
                    var makertxt = data['data'][i][0] + ' ' + data['data'][i][3] + ' ' + '套'
                    var label = new BMap.Label(makertxt, {offset:new BMap.Size(20,-10)});
                    marker.setLabel(label);
                    function listener(txt) {
                        parameters = { 
                            'method': '地图找房',
                            'area': '不限',
                            'subway': '不限',
                            'suboption': '不限',
                            'zffs': '不限',
                            'jushi': '不限',
                            'filter': '关闭',
                            'tag': '不限',
                            'search': txt
                        }
                        $("#table").bootstrapTable('destroy');
                        update_table(parameters)
                    }
                    marker.addEventListener("click", listener.bind( null, data['data'][i][0]));
                    markers.push(marker);
                }
                var markerClusterer = new BMapLib.MarkerClusterer(mapInclude.m, {markers:markers});
                $('#r-result').show()
            }
        })

</script>