<style>
        #r-result {
            width: 80%;
            background: white;
            position: absolute;
            top: 5%;
            left: 5%;
            z-index:6;
            height: 40px;
            line-height: 40px;
            border-radius: 4px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            display: none
        }
        #r-result input {
            border: none;
            height: 40px;
            background: none;
            outline: none;
            padding-left: 2%;
            width: 96%; }
    </style>


<div style="position: relative;">
    <div id="r-result">
        <input type="text" id="suggestId" placeholder="请输入地点"/>
    </div>
    <div id="map_show"></div>
</div>






<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=iBM9rbzTH2dMZW7MbYMYmFgb"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>


<script type="text/javascript" src="static/MarkerClusterer.js"></script>

<script>
    function AddMap(){
        //设置地图容器高度
        var screenH = window.innerHeight / 2;
        var headerH = this.elById("map_show").offsetHeight;
        this.elById("map_show").style.height = screenH-headerH+"px";
    }

    /**
     * @param el 地图初始化容器
     * @param p  初始化坐标点
     */
    AddMap.prototype.init=function(el,p){
        var point={
            lng:116.405706,
            lat:39.91582
        };
        if(p && p.lng && p.lat){
            point.lng=p.lng;
            point.lat=p.lat;
        }
        this.m = new BMap.Map(el);      //实例化地图
        this.p = new BMap.Point(point.lng,point.lat);

        this.m.enableContinuousZoom();    //启用地图惯性拖拽
        this.m.enableScrollWheelZoom();   //启用滚轮放大缩小
        this.m.centerAndZoom(this.p, 12);  //设置地图显示中间点、地图显示级别

        this.search();               //搜索
    };


    AddMap.prototype.elById=function(id) {
        return document.getElementById(id);
    };




    //添加坐标显示
    AddMap.prototype.addMaker=function(location){
        var mk = new BMap.Marker(location);
        //mk.enableDragging();        //marker可拖拽
        mk.enableMassClear();
        this.m.addOverlay(mk); //在地图中添加marker
        mk.addEventListener('click', function() {
            alert(mk.getPosition());
        })
        var _this=this;

    };

    //搜索
    AddMap.prototype.search=function(){
        var _this=this;
        var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
                {
                    "input" : "suggestId",
                    "location" : _this.m
                }
        );
        ac.addEventListener("onconfirm", function(e) {  
            var _value = e.item.value;
            myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            _this.setPlace(_this.m);
        });
    };

    //定位到具体位置
    AddMap.prototype.setPlace=function(m){
        var _this=this;
        //m.clearOverlays();    //清除地图上所有覆盖物
        function myFun(){
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            m.centerAndZoom(pp, 15);  //设置地图显示中间点、地图显示级别
            //_this.addMaker(pp);
        }
        var local = new BMap.LocalSearch(m, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    };




    $.ajax({
            url: '/xiaoquzuobiao',
            type: 'get',
            dataType: 'json',
            success: function(data) {
                var mapInclude = new AddMap();
                mapInclude.init("map_show",{lng:116.405706,lat:39.91582});
                
                var markers = [];
                for (var i = data['data'].length - 1; i >= 0; i--) {
                    var point = new BMap.Point(data['data'][i][2], data['data'][i][1]);
                    var marker = new BMap.Marker(point); 
                    var makertxt = data['data'][i][0] + ' ' + data['data'][i][3] + ' ' + '套'
                    var label = new BMap.Label(makertxt, {offset:new BMap.Size(20,-10)});
                    marker.setLabel(label);
                    function listener(txt) {
                        parameters = { 
                            'method': '地图找房',
                            'area': '不限',
                            'subway': '不限',
                            'suboption': '不限',
                            'zffs': '不限',
                            'jushi': '不限',
                            'filter': '关闭',
                            'tag': '不限',
                            'search': txt
                        }
                        $("#table").bootstrapTable('destroy');
                        update_table(parameters)
                    }
                    marker.addEventListener("click", listener.bind( null, data['data'][i][0]));
                    markers.push(marker);
                }
                var markerClusterer = new BMapLib.MarkerClusterer(mapInclude.m, {markers:markers});
                $('#r-result').show()
            }
        })

</script>