<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=iBM9rbzTH2dMZW7MbYMYmFgb"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript" src="static/MarkerClusterer.js"></script>


<div class="mt-1 mr-1" style="position: relative;">
    <div id="index_map_show"></div>
</div>




<script>
    var index_map = null;
    $.ajax({
            url: '/xiaoquzuobiao',
            type: 'get',
            dataType: 'json',
            success: function(data) {
                var mapInclude = new AddMap("index_map_show", $("#left_part").height()-10);
                index_map = mapInclude.init("index_map_show",{lng:116.405706,lat:39.91582}, 14);
                
                var markers = [];
                for (var i = data['data'].length - 1; i >= 0; i--) {
                    var point = new BMap.Point(data['data'][i][2], data['data'][i][1]);
                    var marker = new BMap.Marker(point); 
                    var makertxt = data['data'][i][0] + ' ' + data['data'][i][3] + ' ' + '套'
                    var label = new BMap.Label(makertxt, {offset:new BMap.Size(20,-10)});
                    marker.setLabel(label);
                    function listener(txt) {
                        parameters = { 
                            'method': '地图找房',
                            'area': '不限',
                            'subway': '不限',
                            'suboption': '不限',
                            'zffs': '不限',
                            'jushi': '不限',
                            'filter': '关闭',
                            'tag': '不限',
                            'search': txt
                        }
                        $("#table").bootstrapTable('destroy');
                        update_table(parameters)
                    }
                    marker.addEventListener("click", listener.bind( null, data['data'][i][0]));
                    markers.push(marker);
                }
                var markerClusterer = new BMapLib.MarkerClusterer(mapInclude.m, {markers:markers});
            }
        })

</script>