    <div id="layerd" style="position: fixed; top: 65px; right: 2px; line-height: 2px; z-index: 1000; width: 12%; height: 30%;">
        <div id='QRCode'>
            <div>
                <h6 class="text-muted" align="center">
                    静妮接受您的捐赠
                    <i class="fa fa-heart"></i>
                </h6>
                    
                    <div class="col">
                        <div align="center"><img src="static/ali.png" style="height:120px;width:120px;display:block;text-align:center" align="center">
                        </div>
                        <h5></h5>
                    </div>
                    <div class="col mt-2">
                        <div align="center"><img src="static/wx.png" style="height:120px;width:120px;display:block;text-align:center" align="center">
                        </div>
                    </div>

            </div>
        </div>   
    </div>