        <div class="container mt-3">
            <div class="row justify-content-md-center">
                <div class="col-lg-12">
     
                    <div class="col-md-auto" style="float: center">
                        <h3>感谢</h3>
                        <hr />
                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-8" style="height:280px">
                                <p>感谢慷慨解囊的朋友，其包含但不限于:</p>
                                <ul>
                                    <li><h6>白兔123</h6></li>
                                    <li><h6>_静</h6></li>
                                    <li><h6>S_e</h6></li>
                                </ul> 
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 float" style="height:200px">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <blockquote align="right" class="text-muted font-italic" style="opacity:0.3">
                                    <h6>瀑布的水逆流而上</h6>
                                    <h6>蒲公英种子从远处飘回，聚成伞的模样</h6>
                                    <h6>太阳从西边升起，落向东方</h6>
                                    <br />

                                    <h6>子弹退回枪膛</h6>
                                    <h6>运动员回到起跑线上</h6>
                                    <h6>我交回录取通知书，忘了十年寒窗</h6>
                                    <br />

                                    <h6>厨房飘来饭香</h6>
                                    <h6>你把我的卷子签好名字</h6>
                                    <h6>关掉电视，帮我把书包背上</h6>
                                    <br />
                                    <h6>你还在我身旁</h6>
                                </blockquote>
                            </div>


                            <div class="col-xs-8 col-sm-8 col-md-8" style="height:165px">
                            </div>

                        </div>
                    </div>                        
                </div>
            </div>
        </div> 


        <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h6 class="modal-title">感谢</h6>
              <button type="button" class="close btn-sm" data-dismiss="modal">×</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              已经收到您的反馈
            </div>
            
          </div>
        </div>
      </div>


        <script type="text/javascript" src="static/function.js">

        </script>